{% extends 'layout.html.twig' %}

{% block content %}
    <img class="logo" src="assets/img/logo-bg-black.png" alt="">
    <p class="subtitle-home">{{subtitle}}</p>
    <a src="/levels" class="btn btn-lg btn-outline-light btn-home">Treinar</a>
{% endblock %}
