<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuneSense - {{title}}</title>
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/twbs/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="bg-dark">

<header class="topbar">
    <div class="goback">
        <i class="bi bi-arrow-left-short"></i>
    </div>
    <h1 class="topbar-title text-center">{{title}}</h1>
</header>

<div class="container-fluid main">
    {% block content %}
    {% endblock %}
</body>
</div>
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>