{% extends 'layout.html.twig' %}

{% block content %}

    <div class="list-levels">
       <div class="card w-75 mb-3">
            <div class="card-body">
                
                <h5 class="card-title">Iniciante</h5>
            </div>
        </div>

        <div class="card w-75 mb-3">
            <div class="card-body">
                
                <h5 class="card-title">Iniciante</h5>
            </div>
        </div>

        <div class="card w-75 mb-3">
            <div class="card-body">
                
                <h5 class="card-title">Iniciante</h5>
            </div>
        </div>

        <div class="card w-75 mb-3">
            <div class="card-body">
                
                <h5 class="card-title">Iniciante</h5>
            </div>
        </div>

        <div class="card w-75 mb-3">
            <div class="card-body">
                
                <h5 class="card-title">Iniciante</h5>
            </div>
        </div>

        <div class="card w-75 mb-3">
            <div class="card-body">
                <h5 class="card-title">Iniciante</h5>
            </div>
        </div>
    </div>
{% endblock %}
